.layout{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    max-width: 100%;
    height: 100%;

}

.layout__main{
    padding-top: 8px;
    
}